{
    "id": "xxx", // developer instance id
    "user": "xxx", // developer instance user
    "password": "xxx", // developer instance password
    "sys_id": "xxx" // sys_id of user specified above for rest call
}